.tech__heading{
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  color: #000;
  margin: 0px 0px 26px;
  padding: 20px 0px 0px;
  text-align: center;
  letter-spacing: -1px;
  display: block;
}

@media screen and (max-width: 770px) {
  .tech__heading{
    padding-top: 10px;
    margin: 0px 0px 22px;
  }
}

@media screen and (max-width: 320px) {
  .tech__heading{
    padding-top: 0px;
    margin: 0px 0px 24px;
    font-size: 30px;
    line-height: 36px;
  }
}
