.student__portfolio-link{
  font-size: 28px;
  line-height: 50px;
  color: #000;
  font-weight: 400;
  text-decoration: none;
  background-image: url('../../../images/arrow-link.svg');
  background-position: right;
  background-position-x: 99%;
  background-repeat: no-repeat;
  width: 100%;
  display: block;
  border-bottom: solid 1px #e8e8e8;
  padding: 19px 0px;
  letter-spacing: -1px;
}

@media screen and (max-width: 320px) {
  .student__portfolio-link{
    font-size: 18px;
    line-height: 28px;
    background-size: 12px auto;
  }
}
