.student__text{
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000;
  margin: 0;
  padding: 8px 0px;
}

@media screen and (max-width: 770px) {
  .student__text{
    font-size: 12px;
    line-height: 18px;
  }
}
