.header{
  margin: 0 auto;
  padding: 18px 70px;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 770px) {
  .header{
    padding: 18px 30px;
  }
}

@media screen and (max-width: 320px) {
  .header{
    padding: 18px 14px;
  }
}
