.student{
  margin: 20px auto 0px;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 770px) {
  .student{
    margin: 20px 50px 0px;
  }
}

@media screen and (max-width: 320px) {
  .student{
    margin: 20px 14px 0px;
  }
}
