.footer__copyright{
  color: #000;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  margin: 20px 0;
}

@media screen and (max-width: 320px) {
  .footer__copyright{
    font-size: 12px;
    line-height: 15px;
    order: 2;
    margin: 0;
  }
}
