.student__description{
  color: #000;
  font-weight: 500;
  font-size:  18px;
  line-height: 20px;
  margin: 18px 0;
}

@media screen and (max-width: 770px) {
  .student__description{
    font-size: 12px;
    line-height: 18px;
    margin: 16px 0 10px 0;
  }
}

@media screen and (max-width: 320px) {
  .student__description{
    font-size: 11px;
    line-height: 16px;
    margin: 20px 0 10px 0;
  }
}
