.student__photo{
  width: 270px;
  height: 327px;
  border-radius: 10px;
  background-image: url('../../../images/avatar.png');
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 770px) {
  .student__photo{
    width: 255px;
    height: 307px;
  }
}
