.student__portfolio{
  width: 100%;
  margin: 100px 0px 90px 0px;
  order: 2;
}

@media screen and (max-width: 770px) {
  .student__portfolio{
    margin: 90px 0px 50px 0px;
  }
}

@media screen and (max-width: 320px) {
  .student__portfolio{
    margin: 70px 0px 50px 0px;
  }
}
