.cover__link-item{
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  padding: 10px 17px;
  background-color: #e8e8e8;
  border-radius: 10px;
  border: none;
  margin: 0px 5px;
  text-decoration: none;
  display: block;
}
